params {
    project = false
    bed = false
    ref = false
    design = false
    test = false
    index = false
    indexb = false
    bindir = false
    binlist = false
    rbindir = false
    cordir = false
    gender = false
    cov = false
    batch = false
    help = false
    samples = false
    wgs = false
    errorStrategy = 'ignore'
    queueSize = 1000
    maxForks = 45
}

executor {
  $slurm {
      queueSize = params.queueSize
      pollInterval = '30sec'
      submitRateLimit = '100 sec'
  }

  $lsf {
      queueSize = params.queueSize
      pollInterval = '30sec'
      submitRateLimit = '100 sec'
  }
}

profiles {

    standard {
        process.cpus = 1
        process.memory = "2.GB"
        process.container = "quay.io/smshuai/cnest:dev2"
        process.maxForks = params.maxForks
        process.errorStrategy = params.errorStrategy
        docker.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        process.cpus = 1
        process.memory = "2.GB"
		process.time = "1h"
        process.container = 'docker://smshuai/cnest:dev2'
        process.errorStrategy = params.errorStrategy
        singularity.enabled = true
		singularity.autoMounts = true
    }

    lsf {
        process.executor = 'lsf'
        process.cpus = 1
        process.memory = "2.GB"
        process.time = "1h"
        process.container = 'docker://smshuai/cnest:dev2'
        process.errorStrategy = params.errorStrategy
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '--contain'
    }

}

