export(
Rbin_example,
RbinRead_aCGH,
RbinConvert_aCGH,
RbinRead_exome,
RbinConvert_exome,
RbinConvert_exome_ratio,
RbinRead_exome_ratio,
processtobin,
processtobin_fast,
classify_gender,
assign_gender,
generate_coverage,
generate_correlation,
generate_correlation_batch,
generate_correlation_chunk,
generate_correlation_chunk_batch,
get_references,
get_ref_sample_names_by_type,
processLogRtoBin,
run_hmm_rbin
)


