export(
Rbin_example,
RbinRead_aCGH,
RbinConvert_aCGH,
RbinRead_exome,
RbinConvert_exome,
RbinConvert_exome_ratio,
RbinRead_exome_ratio,
processtobin,
classify_gender,
assign_gender,
generate_correlation,
get_references,
processLogRtoBin,
run_hmm_rbin
)


