export(
Rbin_example,
RbinRead_aCGH,
RbinConvert_aCGH,
RbinRead_exome,
RbinConvert_exome,
RbinConvert_exome_ratio,
RbinCompress_rbin,
RbinRead_exome_ratio,
processtobin,
processtobin_fast,
classify_gender,
assign_gender,
generate_coverage,
generate_correlation,
generate_correlation_batch,
generate_correlation_chunk,
generate_correlation_chunk_batch,
get_references,
get_ref_sample_names_by_type,
batch_get_references_to_rbin,
get_references_return,
processLogRtoBin,
run_hmm_rbin,
make_samplefile,
compress_rbins_into_chr_cbins,
check_cntype,
write_blank_cbin,
write_sample_to_blank_cbin,
compress_rbins_into_chr_cbins_blank,
compress_rbins_into_chr_cbins_chunk,
compress_rbins_into_chr_cbins_auto_chunk,
Cbin_extract_item,
Cbin_extract_range,
cnv_gwas
)


