export(
CNest_example,
RbinRead_depth,
RbinRead_ratio,
RbinConvert_depth,
RbinConvert_ratio,
RbinCompress_rbin,
processtobin,
processtobin_fast,
classify_gender,
assign_gender,
generate_coverage,
generate_correlation,
generate_correlation_batch,
generate_correlation_chunk,
generate_correlation_chunk_batch,
get_references,
get_ref_sample_names_by_type,
batch_get_references_to_rbin,
get_references_return,
processLogRtoBin,
run_hmm_rbin,
make_samplefile,
get_offset,
get_item_type,
get_return_type,
get_offset,
get_positions,
get_values,
compress_rbins_into_chr_cbins,
check_cntype,
write_blank_cbin,
write_sample_to_blank_cbin,
compress_rbins_into_chr_cbins_blank,
compress_rbins_into_chr_cbins_chunk,
compress_rbins_into_chr_cbins_auto_chunk,
Cbin_extract_item,
Cbin_extract_range,
cnv_gwas
)


